:root {
    /*color celeste*/
    --color-primary: rgb(39, 206, 176);
    --color-primary-soft: rgba(39, 206, 176, 0.8);
    --color-primary-mute: rgba(39, 206, 176, 0.6);

    --color-secondary: #0044c4;
    --color-secondary-soft: rgba(0, 68, 196, 0.8);
    --color-secondary-mute: rgba(0, 68, 196, 0.6);

    --color-tertiary: rgb(255, 165, 0);
    --color-tertiary-soft: rgba(255, 165, 0, 0.8);
    --color-tertiary-mute: rgba(255, 165, 0, 0.6);

    --white: #ffffff;
    --white-soft: rgba(255, 255, 255, 0.8);
    --white-mute: rgba(255, 255, 255, 0.6);

    --black: #000000;
    --black-soft: rgba(26, 28, 29, 0.8);
    --black-mute: rgba(0, 0, 0, 0.6);

    --media-m: 525px;
    --media-t: 768px;
    --media-p: 1024px;
    --media-pl: 1440px;
    --space-pg: 2rem;
    --space-view-py: 10rem;
}
div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm) {
    background-color: var(--color-primary);
}
@media (prefers-color-scheme: light) {
    :root {
        --color-background: var(--white);
        --color-background-soft: var(--white-soft);
        --color-background-mute: var(--white-mute);

        --color-text: var(--black);
        --color-text-soft: var(--black-soft);
        --color-text-mute: var(--black-mute);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--black);
        --color-background-soft: var(--black-soft);
        --color-background-mute: var(--black-mute);

        --color-text: var(--white);
        --color-text-soft: var(--white-soft);
        --color-text-mute: var(--white-mute);
    }
}

@media (max-width: 1024px) {
    :root {
        --space-pg: 1.5rem;
        --space-view-py: 7rem;
    }
}
@media (max-width: 768px) {
    :root {
        --space-pg: 1.3rem;
        --space-view-py: 5rem;
    }
}
@media (max-width: 525px) {
    :root {
        --space-pg: 1.1rem;
        --space-view-py: 3rem;
    }
}