@import 'assets/css/base.css';
@import '../node_modules/primeicons/primeicons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Splitting -------------------------------------------------- */
.splitting .char {
  animation: slide-in 1s cubic-bezier(0.5, 0, 0.5, 1) both;
  animation-delay: calc(60ms * var(--char-index));
}

@keyframes slide-in {
  from {
    transform: translateY(-1em) rotate(-0.5turn) scale(0.5);
    opacity: 0;
  }
  to {
    transform: translateY(0) rotate(0) scale(1);
    opacity: 1;
  }
}
/* Splitting -------------------------------------------------- */

#app {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  position: relative;
  overflow-y: hidden;
}
.container {
  width: 100%;
  height: 100%;
}

@layer base {
  :root {
    /*--color-primary: 39 206 176;*/
    /*--color-secondary: 0 68 196;*/
  }
}

@layer components {

  .flex, .grid {
    @apply gap-8
  }
  @media (max-width: 1024px) {
    .flex, .grid {
      @apply gap-0
    }
  }
}

header {
  width: 100%;
  padding-top: 10rem;
  padding-bottom: 2rem;

  .container {
    display: block;
    gap: var(--space-pg);
  }
}
main {
    width: 100%;
}
section {
  width: 100%;

  .container {
    flex-direction: column;
    gap: var(--space-pg);

    .header {
      h1 {
        font-size: 2.5em;
        font-weight: 600;
      }
      h2 {
        font-size: 2em;
        font-weight: 600;
      }
      p {
        font-size: 1.2em;
        font-weight: 400;
        margin-bottom: 1rem;
      }
    }
    .content, .footer {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: var(--space-pg);

      h2 {
        font-size: 1.2em;
      }
    }
  }
  &.hero {
    min-height: 100vh;
    .container {
      align-items: flex-start;
    }
  }
}

section .container > hgroup {
  padding-bottom: var(--space-pg);
}

.heading {
  font-size: 4.5em;
  font-weight: bold;
  color: transparent;
  background: linear-gradient(113deg, var(--color-primary), var(--color-secondary-mute));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  display: inline-block;
}
.subtitle {
  font-weight: 600;
  padding-bottom: 1rem;
}
.shine {
  background: linear-gradient(
          to right,
          var(--color-primary) 15%,
          var(--color-primary-soft) 30%,
          var(--color-secondary) 45%,
          var(--color-secondary-soft) 60%,
          var(--color-secondary) 75%,
          var(--color-primary-soft) 90%,
          var(--color-primary) 100%
  );
  background-size: 200%;
  color: transparent;
  background-clip: text;
  animation: shine 3s linear infinite;
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}
.bg-filter {
  background-color: var(--color-background-soft);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  width: 100%;
  padding: var(--space-pg);
  border-radius: 20px;
  overflow: hidden;
  animation-duration: 1000ms;
  animation-timing-function: ease-in-out;
  z-index: 100;
}
.bg-card {
  background: var(--color-background-soft);
  padding: var(--space-pg);
  border-radius: 20px;
  overflow: hidden;
  animation-duration: 1000ms;
  animation-timing-function: ease-in-out;
  z-index: 100;
}
.bg-blur {
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}
.image.bg-filter {
  padding: 0.5rem;
}
.icon {
  padding: 0;
  margin-top: 1rem;

  & i {
    font-size: 2em;
    &:hover {
      color: var(--color-primary);
    }
  }
}
.text-animation {
  background: linear-gradient(
          to right,
          var(--color-primary) 15%,
          var(--color-primary-soft) 30%,
          var(--color-secondary) 45%,
          var(--color-secondary-soft) 60%,
          var(--color-secondary) 75%,
          var(--color-primary-soft) 90%,
          var(--color-primary) 100%
  );
  background-size: 200%;
  color: transparent;
  background-clip: text;
  animation: shine 3s linear infinite;
}
.swal2-popup {
  background-color: var(--black-mute); /* Cambia el color de fondo aquí */
  color: var(--white); /* Cambia el color del texto si es necesario */
}

@media (min-width: 1440px) {
  .container {
    font-size: 95%;
  }
}
@media (max-width: 1440px) {
  .container {
    font-size: 90%;
  }
}
@media (max-width: 1024px) {
  .container {
    font-size: 85%;
    .content {
      gap: 1rem;
    }
  }
}

@media (max-width: 768px) {
  .container {
    font-size: 80%;
  }
  .p-button {
    padding: .2rem .5rem;
  }
}
@media (max-width: 525px) {
  .container {
    font-size: 70%;
  }
}
.p-accordion {
  .p-accordion-content {
    padding: .5rem;
    border: 1px solid #424b57;
    background: transparent;
    color: rgba(255, 255, 255, 0.87);
    border-top: 0;
  }
}
.p-accordion .p-accordion-header .p-accordion-header-link {
  padding: .5rem;
  border: 1px solid #424b57;
  color: rgba(255, 255, 255, 0.87);
  background: transparent;
  font-weight: bold;
  font-size: 1em;
  border-radius: 6px;
  transition: box-shadow 0.2s;
}
.p-accordion-header-text {
  font-size: .9em;
}

.p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
  border-color: #424b57;
  color: rgba(255, 255, 255, 0.87);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.p-accordion-content {
  margin-bottom: 0.25rem;
}
.p-accordion-header-link {
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
}
.p-button-icon-left {
  margin-right: 0.5rem;
}
.p-chip-icon {
  margin-right: 0.5rem;
}