@import 'assets/css/base.css';
@import '../node_modules/primeicons/primeicons.css';

/* Splitting -------------------------------------------------- */
.splitting .char {
  animation: slide-in 1s cubic-bezier(0.5, 0, 0.5, 1) both;
  animation-delay: calc(60ms * var(--char-index));
}

@keyframes slide-in {
  from {
    transform: translateY(-1em) rotate(-0.5turn) scale(0.5);
    opacity: 0;
  }
  to {
    transform: translateY(0) rotate(0) scale(1);
    opacity: 1;
  }
}
/* Splitting -------------------------------------------------- */

#app {
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.p-accordion-content {
  margin-bottom: 0.25rem;
}
.p-accordion-header-link {
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
}
.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1680px;
  padding: 0 1rem;
}
section, footer {
  padding-top: 10rem;
  background: var(--color-background-soft);
  &:first-child {
    min-height: 100vh;
  }

  .container {
    max-width: 1680px;
    padding: 0 max(1rem, 10%);
    flex-direction: column;
    gap: var(--space-pg);

    .header {
      width: 100%;
      text-align: center;
      h1 {
        font-size: 2.5em;
        font-weight: 600;
      }
      h2 {
        font-size: 2em;
        font-weight: 600;
      }
      p {
        font-size: 1.2em;
        font-weight: 400;
        margin-bottom: 1rem;
      }
    }
    .content, .footer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 2rem;

      img {
        border-radius: 10px;
      }
      h2 {
        font-size: 1.2em;
      }
    }
  }
  &.hero {
    min-height: 100vh;
    .container {
      align-items: flex-start;
    }
  }
}

.heading {
  font-size: 4.5em;
  font-weight: bold;
  color: transparent;
  background: linear-gradient(113deg, var(--color-primary), var(--color-secondary-mute));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  display: inline-block;
}
.subtitle {
  font-weight: 600;
  padding-bottom: 1rem;
}
.shine {
  background: linear-gradient(
          to right,
          var(--color-primary) 15%,
          var(--color-primary-soft) 30%,
          var(--color-secondary) 45%,
          var(--color-secondary-soft) 60%,
          var(--color-secondary) 75%,
          var(--color-primary-soft) 90%,
          var(--color-primary) 100%
  );
  background-size: 200%;
  color: transparent;
  background-clip: text;
  animation: shine 3s linear infinite;
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}
.bg-filter {
  background-color: var(--color-background-soft);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  width: 100%;
  padding: var(--space-pg);
  border-radius: 20px;
  overflow: hidden;
  animation-duration: 1000ms;
  animation-timing-function: ease-in-out;
  z-index: 100;
}
.image.bg-filter {
  padding: 0.5rem;
}
.icon {
  padding: 0;
  margin-top: 1rem;

  & i {
    font-size: 2em;
    &:hover {
      color: var(--color-primary);
    }
  }
}
.text-animation {
  background: linear-gradient(
          to right,
          var(--color-primary) 15%,
          var(--color-primary-soft) 30%,
          var(--color-secondary) 45%,
          var(--color-secondary-soft) 60%,
          var(--color-secondary) 75%,
          var(--color-primary-soft) 90%,
          var(--color-primary) 100%
  );
  background-size: 200%;
  color: transparent;
  background-clip: text;
  animation: shine 3s linear infinite;
}
.swal2-popup {
  background-color: var(--black-mute); /* Cambia el color de fondo aquí */
  color: var(--white); /* Cambia el color del texto si es necesario */
}
@media (hover: hover) {
  nav a:hover {
  }
}
@media (min-width: 1440px) {
  .container {
    font-size: 95%;
  }
  section, footer {
    padding-top: 11rem;

    .container {
      width: 85%;
    }
  }
}
@media (max-width: 1440px) {
  .container {
    font-size: 90%;
  }
  section, footer {
    padding-top: 9rem;

    .container {
      width: 90%;
    }
  }
}
@media (max-width: 1024px) {
  .container {
    font-size: 85%;
  }
  section, footer {
    padding-top: 7rem;

    .container {
      width: 95%;
      .header {
      }
      .content {
        gap: 1rem;
        width: 85%;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    font-size: 80%;
  }
  section, footer {
    padding-top: 5rem;

    .container {
      padding: 0 max(1rem, 8%);

      .header {
        font-size: 80%;
        text-align: center;
      }
    }
  }
}
@media (max-width: 525px) {
  .container {
    font-size: 70%;
  }
  section {
    .container {
      .header {
      }
    }
  }
}
.p-accordion {
  .p-accordion-content {
    padding: .5rem;
    border: 1px solid #424b57;
    background: transparent;
    color: rgba(255, 255, 255, 0.87);
    border-top: 0;
  }
}
.p-accordion .p-accordion-header .p-accordion-header-link {
  padding: .5rem;
  border: 1px solid #424b57;
  color: rgba(255, 255, 255, 0.87);
  background: transparent;
  font-weight: bold;
  font-size: 1em;
  border-radius: 6px;
  transition: box-shadow 0.2s;
}
.p-accordion-header-text {
  font-size: .9em;
}

.p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
  border-color: #424b57;
  color: rgba(255, 255, 255, 0.87);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.p-button-icon-left {
  margin-right: 0.5rem;
}
.p-chip-icon {
  margin-right: 0.5rem;
}
